<h1 class="header">Proizvodi</h1>

<div class="search-container">
    <mat-form-field>
     <mat-label>Pretraga po brendu</mat-label>
     <input matInput [formControl]="searchControl">
    </mat-form-field>
</div>
  
<div class="card-container">
    <div *ngIf="isLoading">
        <mat-progress-spinner
          mode="indeterminate"
          diameter="60"
          color="primary"
        ></mat-progress-spinner>
    </div>

    <mat-card class="example-card" appearance="outlined" *ngFor="let proizvod of filteredProducts">
        <mat-card-header>
          <mat-card-title>{{proizvod.ime}}</mat-card-title>
          <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <img mat-card-image [src]="'/images/' + proizvod.slika" >
        <mat-card-content>
            <div class="cena">Cena: {{ proizvod.prodajnaCena }} RSD</div>
            <h3>Brend proizvoda: {{ proizvod.brend}}</h3>
        </mat-card-content>
        <mat-card-actions>
            <div class="example-button-container">
                <button mat-fab extended (click)="addToCart(proizvod)">
                    <mat-icon>add_shopping_cart</mat-icon>
                    Dodaj u korpu
                </button>
            </div>
        </mat-card-actions>
      </mat-card>
</div>

<mat-paginator [length]="products.length"
                [pageSize]="5"
                [pageSizeOptions]="[5,10,25,50]"
                (page)="onPageChange($event)">
</mat-paginator>
