.header {
    margin: 2rem;
}

.search-container {
    margin: 2rem;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 2rem;
}

.example-card {
    max-width: 400px;
    margin: 2rem 0px;
  }

.example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 140px;
}