<mat-card appearance="outlined" class="example-card">
    <mat-card-title>Registracija</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()">

            <div>
                <mat-form-field>
                 <input type="text" matInput placeholder="Ime" formControlName="ime">
                </mat-form-field>

                <div class="error" *ngIf="form.controls['ime'].invalid && form.controls['ime'].touched">
                    <span *ngIf="form.controls['ime'].errors?.['required']">Ime je obavezno polje.</span>
                 </div>
            </div>

            <div>
                <mat-form-field>
                 <input type="text" matInput placeholder="Prezime" formControlName="prezime">
                </mat-form-field>

                <div class="error" *ngIf="form.controls['prezime'].invalid && form.controls['prezime'].touched">
                    <span *ngIf="form.controls['prezime'].errors?.['required']">Prezime je obavezno polje.</span>
                 </div>
            </div>

            <div>
                <mat-form-field>
                 <input type="text" matInput placeholder="Adresa" formControlName="adresa">
                </mat-form-field>

                <div class="error" *ngIf="form.controls['adresa'].invalid && form.controls['adresa'].touched">
                    <span *ngIf="form.controls['adresa'].errors?.['required']">Adresa je obavezno polje.</span>
                 </div>
            </div>

            <div>
                <mat-form-field>
                 <input type="text" matInput placeholder="Broj telefona" formControlName="brojTelefona">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                 <input type="text" matInput placeholder="Korisnicko ime" formControlName="korisnickoIme">
                </mat-form-field>

                <div class="error" *ngIf="form.controls['korisnickoIme'].invalid && form.controls['korisnickoIme'].touched">
                    <span *ngIf="form.controls['korisnickoIme'].errors?.['required']">Korisnicko ime je obavezno polje.</span>
                 </div>
            </div>

            <div>
                <mat-form-field>
                 <input type="text" matInput placeholder="Email" formControlName="email">
                </mat-form-field>

                <div class="error" *ngIf="form.controls['email'].invalid && form.controls['email'].touched">
                    <span *ngIf="form.controls['email'].errors?.['required']">Email je obavezno polje.</span>
                    <span *ngIf="form.controls['email'].errors?.['email']">Pogresan format.</span>
                 </div>
            </div>

            
            <div>
                <mat-form-field>
                  <input type="password" matInput placeholder="Password" formControlName="sifra">
                </mat-form-field>

                <div class="error" *ngIf="form.controls['sifra'].invalid && form.controls['sifra'].touched">
                    <span *ngIf="form.controls['sifra'].errors?.['required']">Lozinka je obavezno polje.</span>
                 </div>
            </div>

            <div class="button">
                <button type="submit" mat-button>Registracija</button>
            </div>

        </form>
    </mat-card-content>
</mat-card>