<body>
    <main>
      <header id="site-header">
        <div class="container">
          <h1 style="font-weight: 500;">Korpa</h1>
        </div>
      </header>

      <div class="container" *ngIf="productsInCart.length === 0">
        Korpa je prazna
      </div>
  
      <div class="container">
  
        <section id="cart">
          <article class="product" *ngFor="let productInCart of productsInCart">
            <header>
              <a class="remove" (click)="removeProduct(productInCart)">
                <img [src]="'/images/' + productInCart.proizvod.slika">
                <h3>Remove product</h3>
              </a>
            </header>
            <div class="content">
              <h1>{{ productInCart.proizvod.ime}}</h1>
            </div>
            <footer class="content">
              <button class="qt-minus" (click)="decrementQuantity(productInCart)">-</button>
              <span class="qt" >{{ productInCart.kolicina }}</span>
              <button class="qt-plus" (click)="incrementQuantity(productInCart)">+</button>
              <h2 class="full-price" >
                {{ productInCart.kolicina * productInCart.proizvod.prodajnaCena | currency: 'RSD' }}    
              </h2>
              <h2 class="price" >
                {{productInCart.proizvod.prodajnaCena | currency: 'RSD'}}
              </h2>
            </footer>
          </article>
        </section>
      </div>
  
      <footer id="site-footer">
        <div class="container clearfix">
  
          <div class="left">
          
          </div>
  
          <div class="right" *ngIf="productsInCart.length > 0">
            <h1 class="total">Ukupno: <span>{{ getTotal() | currency: 'RSD' }}</span></h1>
            <button mat-flat-button (click)="payCash()">
                Placanje cash 
            </button>
            <button mat-flat-button style="background-color: red;" (click)="payCard()">
                Placanje kartica 
            </button>
          </div>
  
        </div>
      </footer>
    </main>
  </body>
  