<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Prodavnica obuce</span>
    <span class="example-spacer"></span>
    <a [routerLink]="'/sign-in'">
        <button mat-icon-button aria-label="Sign in" matTooltip="Login">
        <mat-icon>login</mat-icon>
        </button>
    </a>
    <a [routerLink]="'sign-up'">
        <button mat-icon-button aria-label="Register" matTooltip="Register">
        <mat-icon>app_registration</mat-icon>
        </button>
    </a>
  </mat-toolbar>
  